body {
    background-color: #F5EFE6 ;
    font-family: 'Courier New', Courier, monospace;
  }

a {
    text-decoration: none;
}



#profilePicture {
    border-radius: 100%;
    border-style: dashed;
    border-color: #874C62;
}

hr {
    border-color: #874C62;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    height: 0px;
    width: 30%;
}

h2 {
    color: #628E90;
    
}

h3 {
    color: #628E90;
}

.link:hover {
    color: #3C2317;
}

h1 {
    color: #628E90;
}

.notInTable {
    margin: auto;
    text-align: justify;
    text-justify: auto;
    width: 80%;
}

.CenterH3 {
    text-align: center;
}